* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  padding: 10px;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(242, 238, 238);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 20% 30% 18% 22%;
    /* gap: 10px; */
    gap: 5px
    ;

    grid-template-areas: 
    "left-top center-top1  center-top2 right-top"
    "left-top center-top1 center-top2 right-center"
    "left-bottom center center-top2 right-center"
    "left-bottom center-bottom1 right-bottom right-bottom"
    "left-bottom center-bottom2 right-bottom right-bottom"
    
    
    ;
}

.left-top{
  background-color: rgb(212, 60, 212);
  grid-area: left-top;
  border-radius: 10px;
  background-image: url(unnamed-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-size: 350px;
  /* background-position-y: 0.001px; */
background-repeat: no-repeat;


}
.left-bottom{
  background-color: rgb(12, 11, 11);
  grid-area: left-bottom;
  border-radius: 10px;


}
.center-top1{
  background-color: rgb(30, 28, 28);
  grid-area: center-top1;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;


}
.center-top1 img{
position: absolute;
/* margin-left: 20px; */
height: 100%;
width: 100%;

}
.center{
  background-color: rgb(20, 20, 20);
  grid-area: center;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 20px;

}
.center .logo i{
  font-size: 40px;
  background-color: #d4f358;
  color: black;
  padding: 10px;
  border-radius: 50%;
}
.center .c1{
  display: flex;
  gap: 20px;
  align-items: center;

}
.center h1{
  font-size: 20px;
  font-weight: 600;
}

.center-bottom1{
  background-color: rgb(30, 28, 28);
   grid-area: center-bottom1;
  border-radius: 10px;
  /* background-image: url(images-removebg-preview.png); */
  
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px 60px;

}
.center-bottom1 img{
  background-color: white;
  background-size: 20px;
  height: 60px ;
  /* color: white; */
  /* background-color: black; */
  border-radius: 50%;
  


}
.center-bottom2{
  background-color: #d5fe02;
  grid-area: center-bottom2;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  /* flex-direction: column; */
  padding: 20px;
  gap: 20px;

  

}
.center-bottom2 .imgs{
  /* background-color: blue; */
  /* width: fit-content; */
  /* width: 80%; */
  /* height: 50%; */

}

.center-bottom2 .imgs img{
 height: 100%;
 position: relative;
 /* background-color: black; */



 /* position: absolute; */
 /* margin-right: 50px; */
 width: 80%;
 /* width: fit-content; */
 /* border-radius: 20px; */
/* padding: -50px; */
 

}
.center-bottom2 ceter{
  
  position: absolute;
  color: white;
  display: flex;
  width: fit-content;
  justify-self: center;  
 
  align-self: center;

}

.center-bottom2 .logoo{
   /* background-color: white; */
  
   height: 40px;
   font-size: 30px;
   /* width: 80px; */
  margin-bottom: 90px;
  /* size: 80px; */
}


.center-top2{
  background-color: rgb(30, 28, 28);
  grid-area: center-top2;
  border-radius: 10px;
  display: flex;
  color: white;

  gap: 30px;
flex-wrap: wrap;
  padding: 20px;
  padding:30px;
  flex-direction: column;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* font-weight: 600; */
font-size: 10px;

  /* font-family: "Pin Sans"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygen-Sans"Apple Color Emoji""Segoe UI Emoji""Segoe UI Symbol"UbuntuCantarell"Fira Sans""Droid Sans""Helvetica Neue"Helvetica"ヒラギノ角ゴ Pro W3"メイリオMeiryo"ＭＳ Ｐゴシック"Arialsans-serif; */

}
.center-top2 i{
  font-size:20px;
}

.center-top2 .ct1{
  display: flex;
  gap: 20px;
  align-items: center;
}
.center-top2 .ct2{
  display: flex;
  gap: 20px;
  align-items: center;
}
.center-top2 .ct3{
  display: flex;
  gap: 20px;
  align-items: center;
}
.center-top2 .ct4{
  display: flex;
  gap: 20px;
  align-items: center;
}
.center-top2 .ct5{
  display: flex;
  gap: 20px;
  align-items: center;
}
.center-top2 .ct6{
  display: flex;
  gap: 20px;
  align-items: center;
  border: 4x solid rgb(41, 39, 39);
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  /* padding: 10px; */
  padding: 10px 0px;
  
}
.center-top2 hr{
  height: 1px;
  width: 90%;
  border-color:rgb(39, 36, 36);
 
}
.center-top2 .ct7{
  display: flex;
  gap: 20px;
  align-items: center;
}


.right-top{
  background-color: rgb(212, 60, 212);
grid-area: right-top;
  border-radius: 10px;

}
.right-center{
  background-color: chartreuse;
  grid-area: right-center;
  border-radius: 10px;
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;
  background-position-x: 1px;
  background-image: url(1bcb92134312711.Y3JvcCwyMzk5LDE4NzcsMCww-removebg-preview.png);


}
.right-bottom{
  background-color: #fefefe;
  grid-area: right-bottom;
  border-radius: 10px;  
  display: flex;
  justify-content: space-between;
  padding: 25px;


}
.right-bottom .right{
    height: 100%;
    width: 45%;
    /* background-color: rgb(191, 133, 133); */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    gap: 70px;
    
}
.right-bottom .left{
  height: 100%;
  width: 45%;
  /* background-color: rgb(191, 133, 133); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

}
.right-bottom .right h1{
  /* background-color: red; */
  font-size: 50px;
  width: fit-content;
  font-weight: bolder;
  
  
}
.right-bottom .left h1{
  /* background-color: red; */
  font-size: 100px;
  width: fit-content;
  font-weight: bolder;
  
  
}
.right-bottom .left button{
  /* background-color: red; */
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 10px;
  background-color:#763bcb
  ;
  color: white;
}
.right-bottom .left img{
  height: 60px;
  width: 260px;
  /* background-color: white; */
}
.left-bottom{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  /* padding: ; */
}
.but{
  /* background-color: yellow; */
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* judtify-content: space-around; */
  /* justify-content: space-between; */
}
.left-bottom hr{
  height: 1px;
  width: 80%;

}
.left-bottom H1{
  /* font-size: 100px; */
  /* letter-height: 60px;
   */
   /* line-height: 0.9px; */

  /* font-height: bolder; */
  /* font-weight: bolder; */
  font-family: Arial, Helvetica, sans-serif;
   /* letter-spacing: -10px; */
  /* font-size: 16px; */
  font-weight: 600;

   font-size: 80px;
  font-weight: 800;
  letter-spacing: -6px;
  line-height: 0.9;
  

}
.left-bottom p{
  font-size: 20px;
  /* font-weight: 600; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: red; */
  width: fit-content;
  color:#8f53cd;
  margin-top: 20px;
  margin-right: 200px;
}

.payment{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  justify-content: space-evenly;

}

.left-bottom img{
  color: white;
  /* background-color: white; */
}
.payment .coin{
  height: 40px;
  width: 40px;
  background-color:#d6f158;
  padding: 30px;
  font-size: 40px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px; */
  border-radius: 20px;


}

